breakpoint {
    max-width: 100%;
    display: inline-block;
}

@media(min-width: 320px) {
    breakpoint {
        max-width: 28%;
        margin-left: 20px;
    }
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    src: url(../fonts/montserrat/Montserrat-Italic.ttf);
}

.logo-container {
    text-align: center;
    justify-content: center;
    font-size: 30px;
    width: 100%;
    height: 100px;
}

.section h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 30px;
    color: burlywood;
}

a.navbar-brand {
    text-align: justify;
    font-size: 50px;
    color: black;
    font-family: 'Montserrat';
    font-style: normal;
}


div.scrollmenu {
    background-color: lightcyan;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    font-family: 'Montserrat';
}

div.scrollmenu a{
    display: inline-block;
    color: black;
    text-align: center;
    font-style: normal;
    padding: 25px;
    text-decoration: lightcyan;
}

div.scrollmenu a:hover {
    background-color: cadetblue;
}

.body {
    background-color: lightcyan;
}

.banner {
    background: url(../images/backgroundimage2.jpg);
    background-attachment: fixed;
    height: calc(100vh - 50px);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
    text-align: center;
}

.banner-discovery {
    background: url(../images/backgroundimage3.jpeg);
    background-attachment: fixed;
    height: calc(100vh - 50px);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
    text-align: center;
}

.banner-signup {
    background: url(../images/backgroundimage1.jpg);
    background-attachment: fixed;
    height: calc(100vh - 50px);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
    text-align: center;
}

.banner-login {
    background: url(../images/backgroundimage.png);
    background-attachment: fixed;
    height: calc(100vh - 50px);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
    text-align: center;
}

.logo-container {
    width: 95%;
    overflow: hidden;
    margin: 15px auto;
    padding: 15px;
    color: whitesmoke;
}

.section_header {
    color: black;
}

.page-footer {
background-color: lightcyan;
}

.page-footer a{
    font-family: 'Montserrat';
    font-style: normal;
    color: black;
}

.page-footer p {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 20px;
}

.centered-form{
    margin-top: 20px;
    align-items: center;
    margin-bottom: 10px;
}

.centered-form .panel{
    background: white;
    size: 150px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 5px;

}

.container-signup{
    justify-content: center;
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5px;
    background-color: darkslategrey;
    font-family: 'Montserrat';
}

.form {
    justify-content: center;
    display: inline;
    justify-content: center;
    text-align: center;
}

.row {
    width: 100%;
    justify-content: center;
    text-align: center;
}

.btn-info {
    color: #fff;
    background-color: #61e0f3;
    border-color: #61e0f3;
    text-align: center;
}

.limiter{
    width: 100%;
    height: 300px;
    align-items: center;
    background-color: transparent;
    color: whitesmoke;
    font-size: 20px;

}

.limiter button{
    background-color: transparent;
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Montserrat';
    font-style: normal;
}

.input100 {
    background-color: whitesmoke;
    color: darkgray;
    font-size: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    border-color: transparent;
    border: 0px;
}


  